___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [23]:
stri = 'Print only the words that start with s in this sentence'

In [24]:
stri = stri.split(" ")
for word in stri:
  if word [0]== "s":
    print (word)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [1]:
list (range (0,11))
mylist = list(range (0,11))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
mylist = list(range(0,11))
for num in mylist:
  if num%2==0:
    print(num)

0
2
4
6
8
10

In [6]:
mynewlist = [num for num in mylist if num%2==0]
mynewlist

[0, 2, 4, 6, 8, 10]

In [8]:
mylist2 = [x for x in range(0,11)]
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
print(mylist [0:11:2])

[0, 2, 4, 6, 8, 10]

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [37]:
#Code in this cell
[]
mylist = list (range (1,51))
for num in mylist:
  if num%3==0:
    print (num)
# how to convert this into a list?

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [13]:
mylist = [x for x in range(1,51) if x%3==0]
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [55]:
fra = 'Print every word in this sentence that has an even number of letters'

In [56]:
fra = fra.split()

In [62]:
for word in fra:
  if len(word)%2==0:
    print(word,",", len(word),",","even!")
  else:
    print (word,",", len(word),",","odd!")

Print , 5 , odd!
every , 5 , odd!
word , 4 , even!
in , 2 , even!
this , 4 , even!
sentence , 8 , even!
that , 4 , even!
has , 3 , odd!
an , 2 , even!
even , 4 , even!
number , 6 , even!
of , 2 , even!
letters , 7 , odd!

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [63]:
mylist = list (range(1,101))

In [66]:
for num in mylist:
  if num%3==0:
    print("Fizz")
  if num%5==0:
    print("Buzz")
  if num%3 ==0 and num%5== 0:
    print("FizzBuzz")
  else:
    print(num)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizz
Buzz
FizzBuzz
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizz
Buzz
FizzBuzz
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizz
Buzz
FizzBuzz
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
Fizz
Buzz
FizzBuzz
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
Fizz
Buzz
FizzBuzz
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
Fizz
Buzz
FizzBuzz
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99
Buzz
100

In [80]:
mylist2= list(range(1,6))

In [81]:
mylist2

[1, 2, 3, 4, 5]

In [82]:
for num in mylist2:
  print(num)

1
2
3
4
5

In [83]:
for num in mylist2:
  if num%3 ==0:
    print("by three")
  if num%2==0:
    print("by two")
  else:
    print (num)

1
by two
by three
3
by two
5

In [84]:
for num in mylist:
  if num%3 ==0 and num%5== 0:
    print("FizzBuzz")
  elif num%3==0:
    print("Fizz")
  elif num%5==0:
    print("Buzz")
  else:
    print(num)

#de esto saco que es super importante en este caso poner la comparacion mas rara primero
#y que la diference etnre poner muchos "if" o 1 "if" y muchos "elif" es que los "elif" solo se activan si no se cumple lo anterior
#lo que pasaba antes es que me estaba vovliendo a empezar el code? entender esto bien

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [85]:
st = st.split()

In [89]:
mylist = []

SyntaxError: invalid syntax (<ipython-input-89-932e1b41293c>, line 1)

In [86]:
st

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [87]:
for word in st:
  print(word[0])

P
e
w
i
t
s
t
h
a
e
n
o
l

In [14]:
inputtext = 'Create a list of the first letters of every word in this string'
# Use List Comprehension to create a list of the first letters of every word in the string below

In [15]:
words= inputtext.split()
words

['Create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [17]:
mylist=[word[0] for word in words]
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!