___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/03-Methods%20and%20Functions/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    pass

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [ ]:
# Check
lesser_of_two_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [ ]:
# Check
makes_twenty(20,10)

In [ ]:
# Check
makes_twenty(2,3)

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    new_name = name[0].upper()+name[1:3]+name[3].upper()+name[4:]
    return new_name

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [ ]:
old_macdonald('mayonesa')

'MayOnesa'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
  reversed_t=text.split()[::-1]
  return " ".join(reversed_t)

In [ ]:
# Check
master_yoda('I am home')

'home am I'

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
  if n < 100:
    return 100 - n < 10
  else:
    return n-100 < 10

In [ ]:
def almost_there(n):
  return (abs (100-n)<10) or (abs (200-n)<10)

In [ ]:
# Check
almost_there(104)

True

In [ ]:
# Check
almost_there(150)

False

In [ ]:
# Check
almost_there(209)

True

In [ ]:
# Check
almost_there(3)

False

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    index = 0
    first = ""
    second = ""
    for item in nums:
      if item == 3:
        index +1
    return first

In [ ]:
def has_33(nums):
    for i in range(0, len(nums) - 1):
        print(list(range(0, len(nums) - 1)))

In [ ]:
# Check
has_33([1, 3, 3])

[0, 1]
[0, 1]

In [ ]:
# Check
has_33([1, 3, 1, 3])

'found'

In [ ]:
# Check
has_33([3, 1, 3])

'found'

In [ ]:
"""
range practice
"""

In [ ]:
#Write a function called print_even_numbers that takes an integer n as an argument and prints all even numbers
# from 0 up to (but not including) n.

In [ ]:
def print_even_numbers(n):
  even_list=[]
  for i in range(0,n):
    if i%2 == 0:
      even_list.append(i)
  return even_list

In [ ]:
#it doesn't work with return because it ends the function

In [ ]:
def print_even_numbers(n):
  for i in range (n):
    if i%2 ==0:
      print (i)

In [ ]:
print_even_numbers(10)

0
2
4
6
8

Write a function called sum_of_squares that takes an integer n as an argument and returns the sum of the squares of all numbers from 0 up to (but not including) n.

In [ ]:
def sum_of_squares (n):
  tot_sum = 0
  for i in range (0,n):
    new_i = i**2
    tot_sum += new_i
  return tot_sum

In [ ]:
def sum_of_squares(n):
  current_sq = 0
  sum_int = 0
  print(f"The range is {range (n)}")
  for i in range (n):
    print(f"the number is {i}")
    current_sq = i*i
    sum_int += current_sq
    print(f"the sum is {sum_int}")
  return sum_int

In [ ]:
def sum_of_squares(n):
  total = 0
  for i in range (n):
    total += i**2
  return total

In [ ]:
sum_of_squares(3)

5

In [ ]:
 #checking how to join letters. .split() funciona con strings de varias palabras, pero no para one word (no spaces/ separators)

In [ ]:
letters = ['h', 'e', 'l', 'l', 'o']
word =  ",".join(letters)
print(word)

h,e,l,l,o

In [ ]:
# Exercise 1: Print Each Character
# Write a program that takes a string input from the user and prints each character on a new line.

In [ ]:
def print_characters (text):
  for letter in text:
    print (letter)

In [ ]:
print_characters("hello")

h
e
l
l
o

In [ ]:
# Count Vowels:Write a program that counts and prints the number of vowels (a, e, i, o, u) in a given string.

In [ ]:
def count_vowels (text):
  tot_vowels = 0
  for letter in text:
    if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
      tot_vowels += 1
  return tot_vowels

In [ ]:
count_vowels ("la casa de sara")

6

In [ ]:
#revers string

In [ ]:
def reverse_string (text):
  return text [::-1]

In [ ]:
reverse_string("claudia")

'aidualc'

In [ ]:
# Exercise 4: Create a List of Unique Characters
#Write a program that takes a string and creates a list of unique characters in the order they first appear in the string. Print the resulting list.

In [ ]:
def list_unique (text):
  unique_charac =[]
  for letter in text:
    if letter not in unique_charac:
      unique_charac.append(letter)
  return unique_charac

In [ ]:
"""
Exercise 5: Check for Palindrome
Write a program that checks if a given string is a palindrome (reads the same forward and backward). Ignore spaces and punctuation.

"""

'\nExercise 5: Check for Palindrome\nWrite a program that checks if a given string is a palindrome (reads the same forward and backward). Ignore spaces and punctuation.\n\n'

In [ ]:
def check_palindrome (text):
  reversed_text = text [::-1]
  return text == reversed_text

In [ ]:
check_palindrome ("oaao")

True

In [ ]:
"""
Exercise 6: Count Words
Write a program that counts the number of words in a given string. Assume words are separated by spaces.
"""

'\nExercise 6: Count Words\nWrite a program that counts the number of words in a given string. Assume words are separated by spaces.\n'

In [ ]:
def count_words(text):
  total_count = 0
  for word in text:
    total_count +=1
  return total_count

In [ ]:
def count_words(text):
  words = list (text.split())
  return len(words)

In [ ]:
text = "hola lola"
what = text.split()
print(what)
type(what)

['hola', 'lola']

list

In [ ]:
count_words("me dijo hola")

3

In [ ]:
list_unique ("hola hola")

['h', 'o', 'l', 'a', ' ']

In [ ]:
"""
Exercise 7: Create a Dictionary of Character Counts
Write a program that creates a dictionary where the keys are characters in a given string and the values are the counts of those characters.
"""

'\nExercise 7: Create a Dictionary of Character Counts\nWrite a program that creates a dictionary where the keys are characters in a given string and the values are the counts of those characters.\n'

In [ ]:
def characters_counts (text):
  my_dict={}
  for letter in text:
    if letter in my_dict:
      my_dict[letter] +=1
    else:
      my_dict[letter] =1

  return my_dict

In [ ]:
characters_counts ("hello world")

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
"""
Exercise 8: Remove Duplicates
Write a program that removes duplicate characters from a string while maintaining the original order.
"""

'\nExercise 8: Remove Duplicates\nWrite a program that removes duplicate characters from a string while maintaining the original order.\n'

In [ ]:
def remove_duplicates(text):
  new_text =""
  for letter in text:
    if letter not in new_text:
      new_text += letter
    else:
      pass
  return new_text

In [ ]:
remove_duplicates("hoola")

'hola'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
  new_text = ""
  for letter in text:
    new_text += letter * 3
  return new_text

In [ ]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
#DANI aquí no quería hacer return para que no acabase la función, pero en realidad está ok que acabe
# diferencia return y print en función es que return guarda?? No entiendo muy bien
#en las soluciones utilizan if, elif else. Mejor suele ser menos líneas? dicen que no pero sí

In [5]:
def blackjack(a,b,c):
  if sum(a,b,c) <= 21:
    return sum(a,b,c)
  elif sum(a,b,c) > 21 and 11 in (a,b,c):
    new_sum= sum(a,b,c)-10
    if new_sum < 21:
      return new_sum
    else:
      return "BUST"
  else:
    return "BUST"

In [ ]:
from re import M
def blackjack(a,b,c):
  my_sum = sum(a,b,c)

  if my_sum <= 21:
    return my_sum

  elif 11 in (a,b,c) and my_sum -10 <= 21:
    return my_sum -10

  return "BUST"

In [ ]:
def blackjack(a,b,c):
  if a + b + c <= 21:
    return a+b+c
  else:
    if a == 11 or b == 11 or c == 11:
     if a+b+c-10 < 21:
      return a+b+c-10
     else:
      return "BUST"
    else:
      return "BUST"

In [1]:
def blackjack(a,b,c):
  if a + b + c <= 21:
    print(a+b+c)
  else:
    if a == 11 or b == 11 or c == 11:
     if a+b+c-10 < 21:
      print (a+b+c-10)
     else:
      print ("BUST")
    else:
      print("BUST")

In [6]:
# Check
result = blackjack(5,6,7)
print(f"result={result}")

result=18

In [ ]:
# Check
blackjack(9,9,9)

BUST

In [ ]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [7]:
def summer_69 (arr):
  total_sum = 0
  keeps_adding = True
  for num in (arr):
    if keeps_adding:
      if num != 6:
        total_sum += num
      else:
        keeps_adding = False
    else:
      if num == 9:
        keeps_adding = True
  return total_sum

In [8]:
# Check
summer_69([1, 3, 5])

9

In [9]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [10]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [ ]:
def summer_69(arr):
  current_loca = 0
  total_sum = 0
  for num in arr:
    if num != 6:
      total_sum += num
    else:
      if num != 9:
        total_sum += 0
      else:
        total_sum += num+1
  current_loca +=1
  print(total_sum)

In [ ]:
def summer_69(arr):
  total_sum = 0
  ignore = False
  current_loca = 0
  for num in arr:
    if num == 6:
      ignore = True
    elif num == 9:
      ignore = False
      total_sum +=1
    else:
      total_sum += num
  current_loca +=1
  return total_sum

In [ ]:
def summer_69(arr):
  total_sum = 0
  ignore = False
  current_loca = 0
  for num in arr:
    if num == 6:
      ignore = True
    elif ignore == False:
      total_sum += num
    else:
      total_sum += 0
    elif num == 9:
      ignore = False
      total_sum +=1
    else:
      total_sum += num
  current_loca +=1
  return total_sum

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!